*.o
*.pyc
*.pyo
*.so
*.beam
*.class
*.log
*.tmp
*.temp
*~
build/
/dist/
MANIFEST
.tox/
/.coverage
/htmlcov/
/.venv/
.idea/
.pycharmvenv/
.git/

!.keep

*config.*
!*config.*example.*

*/__pycache__/*

.venv*
.idea*
.pycharm*

*.sublime-workspace
*.sublime-project